#platforms_container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    overflow-x: auto;
    flex-wrap: wrap;

}

.platforms {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.platforms-content {
    border: 2px solid #000;
    width: 220px;
    height: 100px;
    display: flex;
}

.platforms-content img {
    width: 100%;
}

.platforms-content:hover {
    border: 2px solid #0078D4;
    box-shadow: 0 0 10px rgba(0, 120, 212, 0.5);
    transition: all 0.3s ease;
}